.button {
    display: flex;
    align-items: center;
}

.button.active {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    padding: 2px 11px 0 13px;
}

.button.inTaskbar {
    min-height: 22px;
    height: 22px;
    padding: 0 4px 0;
}

.button.inTaskbar img {
    margin-right: 3px;
}

.button.inTaskbar div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.button.inTaskbar:not(:disabled):active,
.button.inTaskbar.active {
    padding: 1px 4px 0;
}

.button.noOutline:focus {
    outline: 0;
}