.button {
    display: flex;
    align-items: center;
}

.button:not(:disabled):active,
.button.active
 {
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    padding: 0 12px; /* initial padding */
  }

.button:not(:disabled):active > *,
.button.active > * {
    transform: translate3d(1px, 1px, 0);
  }

.button.focus {
    outline: 1px dotted #000000;
    outline-offset: -4px;
}

.button.inTaskbar {
    min-height: 22px;
    height: 22px;
    padding: 0 4px 0;
}

.button.inTaskbar img {
    margin-right: 3px;
}

.button.inTaskbar div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.button.inTaskbar:not(:disabled):active,
.button.inTaskbar.active {
    padding: 0 4px 0;
}

.button.inTaskbar:not(:disabled):active > *,
.button.inTaskbar.active > * {
    transform: translate3d(1px, 1px, 0);
  }

.button.noOutline:focus {
    outline: 0;
}