._1ew2QELWAyrXswoyfipXKT {
  display: block;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
._2e3qmkSfOxF_rOM4Y_rvF0 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  width: 100%;
  height: 100%;
}

._1qjwAZ7oB87EHVttG4SND {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 2px;
  width: 74px;
  height: 66px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

._2sO5fQdT_6J92zR_MUba_h {
  padding: 0 8px 4px 8px;
}

._3ETZZ5p_AtFxn_IBsv3AX5 {
  max-height: 30px;
  padding: 2px 3px 2px 3px;
  font-family: "PixelatedMsSansSerif", sans-serif, sans-serif;
  font-family: var(--font-family-ui), sans-serif;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  overflow: hidden;
}

._1qjwAZ7oB87EHVttG4SND._3pMHMvDG_UdCMTKNJsE9U ._2sO5fQdT_6J92zR_MUba_h {
  -webkit-filter: brightness(0.4) contrast(0.9) sepia(100%) hue-rotate(195deg) saturate(2);
          filter: brightness(0.4) contrast(0.9) sepia(100%) hue-rotate(195deg) saturate(2)
}

._1qjwAZ7oB87EHVttG4SND._3pMHMvDG_UdCMTKNJsE9U ._3ETZZ5p_AtFxn_IBsv3AX5 {
  color: white;
  background: #040080;
  background: var(--dialog-blue);
}

._1qjwAZ7oB87EHVttG4SND._3SHeW1BhGwiZvIdhBVF3fO ._3ETZZ5p_AtFxn_IBsv3AX5 {
  outline: 1px dotted black;
  outline-offset: -1px;
}

._1qjwAZ7oB87EHVttG4SND._3SHeW1BhGwiZvIdhBVF3fO._3pMHMvDG_UdCMTKNJsE9U ._3ETZZ5p_AtFxn_IBsv3AX5 {
  outline-color: white;
}
._1fPJKyKPKmwW0UfTMobJzG {
  width: 100%;
  height: 100%;
  background-color: #008080;
  background-color: var(--desktop-green);
}
._3AO2i7Cwh3zqDA7KvSWgzn {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: none;
    background-color: #c0c0c0;
    background-color: var(--surface);
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    border-radius: 0;
  
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
  }
  
  ._3AO2i7Cwh3zqDA7KvSWgzn:not(:disabled):active,
  ._3AO2i7Cwh3zqDA7KvSWgzn._2LUOwiyc9ZgBPUuF0-aoH3 {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  }

  ._3AO2i7Cwh3zqDA7KvSWgzn:not(:disabled):active > *,
  ._3AO2i7Cwh3zqDA7KvSWgzn._2LUOwiyc9ZgBPUuF0-aoH3 > * {
    transform: translate3d(1px, 1px, 0);
  }
  
  @media (hover: none) {
    ._3AO2i7Cwh3zqDA7KvSWgzn:not(:disabled):hover {
      box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
      box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    }
  }
  
  ._3AO2i7Cwh3zqDA7KvSWgzn:focus,
  ._3AO2i7Cwh3zqDA7KvSWgzn._8udqUTf938oQWdo9E_DQw {
    outline: 1px dotted #000000;
    outline-offset: -4px;
  }
  
  ._3AO2i7Cwh3zqDA7KvSWgzn::-moz-focus-inner {
    border: 0;
  }

._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA {
    min-height: 22px;
    height: 22px;
    padding: 0 4px 0;
}

._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA img {
    margin-right: 3px;
}

._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA:not(:disabled):active > *,
._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA._2LUOwiyc9ZgBPUuF0-aoH3 > * {
    transform: translate3d(1px, 1px, 0);
  }

._3AO2i7Cwh3zqDA7KvSWgzn._3vpeS3PRnu0ww7U-fOlrI3:focus {
    outline: 0;
}
._2AyF8MpZbLsOGIiAcgvhZA {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 2px;
    font-family: "PixelatedMsSansSerif", sans-serif, sans-serif;
    font-family: var(--font-family-ui), sans-serif;
    font-size: 11px;
    line-height: 1;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080;
    box-shadow: var(--box-shadow-notification);
}

.IrfPkjVrjczOYFx6K_xx0 {
    margin: 0 1px 0;
}

.THtSDxYBxe7Q9nMsDxwUm {
    margin: 0 10px;
}
.ZLwPWAu0sA0na7rK7MXrj{
    position: relative; 
    display: flex;
    align-items: center;
    margin: 1px 0;
    min-width: 128px;
    height: 20px;
    color: black;
    white-space: nowrap;
    overflow: visible;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.ZLwPWAu0sA0na7rK7MXrj:hover
{
    color: white;
    background-color: #040080;
    background-color: var(--dialog-blue);
}

._2pOAELQm0VIWXaKKjUpZVJ {
    margin: 0 6px;
}

._3ukUcSWc6APWdB-Hn0nVMB {
    margin: 0 3px;
}

._2xN1Y0DerGmFEvBCOQ2xXe {
    flex: 1;
    margin-right: 14px;
    /* margin: 1px 0 0; */
}

.ZLwPWAu0sA0na7rK7MXrj._3XB6oKsayj7tmiDLwX8NVP {
    margin: 0;
    min-width: 136px;
    height: 32px;
}

.ZLwPWAu0sA0na7rK7MXrj._3XB6oKsayj7tmiDLwX8NVP > ._2pOAELQm0VIWXaKKjUpZVJ {
    margin: 0 10px;
}

.ZLwPWAu0sA0na7rK7MXrj._3XB6oKsayj7tmiDLwX8NVP > ._2xN1Y0DerGmFEvBCOQ2xXe::first-letter {
    text-decoration: underline;
}

._1STiYULglz3c1ugdkS3uK2 {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate3d(-3px, -6px, 0);
}

.ZLwPWAu0sA0na7rK7MXrj:hover > ._1STiYULglz3c1ugdkS3uK2 {
  display: block;
}
.pecxl-CEDGutOuBs5E6vs {
    display: inline-flex;
    flex-direction: column;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
    background: #c0c0c0;
    background: var(--surface);
    padding: 3px;
    font-family: "PixelatedMsSansSerif", sans-serif, sans-serif;
    font-family: var(--font-family-ui), sans-serif;
    font-size: 11px;
    line-height: 1;
    overflow: visible;
}

.zgqjj5bKAyVhXXNrjOThc {
    padding: 5px 0 2px;
    box-shadow:  inset 0px 1px #808080, inset 0px 2px #ffffff;
    box-shadow:  inset 0px 1px var(--button-shadow), inset 0px 2px var(--button-highlight);
    overflow: visible;
}

.pecxl-CEDGutOuBs5E6vs._32LbfZwRYnw7cT-hBHcFWb > .zgqjj5bKAyVhXXNrjOThc {
    padding: 8px 0 6px;
}

.zgqjj5bKAyVhXXNrjOThc:first-child {
   padding-top: 0 !important; 
   box-shadow:  none !important;

}  

.zgqjj5bKAyVhXXNrjOThc:last-child {
    padding-bottom: 0 !important; 
 }  

._3eJEMS4ytRM9ML4zkk1aIf {
  position: relative;
}

._3eJEMS4ytRM9ML4zkk1aIf > div {
  padding-left: 24px;
}

._3eJEMS4ytRM9ML4zkk1aIf::before {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 21px;
  height: calc(100% - 6px);
  content: '';
  background: #808080 url(/windows-96/assets/start-menu-logo.png) no-repeat left bottom;
  background: var(--dialog-gray) url(/windows-96/assets/start-menu-logo.png) no-repeat left bottom;
}
._1Frg6Hb_BaXu5OLMX7tyX_ {
    position: relative;
    display: flex;
    height: 28px;
    padding: 4px 0 2px 0;
    box-shadow: inset 0 1px #dfdfdf, inset 0 2px #ffffff;
    box-shadow: inset 0 1px var(--button-face), inset 0 2px var(--button-highlight);
    background: #c0c0c0;
    background: var(--surface);
}

._5gT0MZz1guPQ97b6qQqbM {
    z-index: 1;
    position: absolute;
    left: 2px;
    bottom: 24px;
}

._1PFYt5eo6SU1OJbOqWVN-S {
    margin: 0 2px;
}

._1PFYt5eo6SU1OJbOqWVN-S  button {
    min-width: auto;
}

._2MeJeQfw7HqgNX4qumf7rf {
    margin: 1px 1px 0 3px;
}

._1RwUoqeeglxcaZb7LNApjB {
    flex: 1 1 auto;
    display: flex;
    min-width: 100px;;
    padding: 0 2px;
}

._1RwUoqeeglxcaZb7LNApjB button {
    flex: 1 1 0;
    margin-right: 4px;
    min-width: 20px;
    max-width: 160px;
}

.p2eVAIoSvqh3cmPY5BBFn {
    flex: 0 0 auto;
    margin: 0 1px;
}
._2xluhzp6ssXUlxizOBirw2 {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    background: #ffffff;
    background: var(--button-highlight);
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    box-shadow: var(--border-field);
    margin: 1px;
    padding: 2px;
    overflow: hidden;
}
.qTdvPo4FMvt65M8czLZ_p {
    display: flex;
    margin: 1px;
    height: 16px;
}

.dwdZRcaBSEkZa6WDi0TnB {
    display: flex;
    align-items: center;
    padding: 0 6px;
    list-style-type: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* .menuBarOption:hover {
    background: var(--dialog-blue);
    color: white;
} */

._1mgxwsJXK8VLmUAdgun3jv::first-letter {
    text-decoration: underline;
}
.Kmq_n8wy5YlgMqj7Y08-R {
    position: relative;
    display: flex;
    height: 21px;
    padding: 1px;
}

._326066zuRAHXFgFXrdBuO, .r2im6Nj60ujKItqHZpQTY {
    height: 100%;
    padding: 3px 3px 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080;
    box-shadow: var(--box-shadow-notification);

}

._326066zuRAHXFgFXrdBuO {
    min-width: 144px;
    margin-right: 2px;
}

.r2im6Nj60ujKItqHZpQTY {
    flex: 1;
}
.HSrY7Im342of-3Wbml-9q {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.t8IltO49NPXvuKp9QQCjs {
    flex: 0 0 auto;
}

._13o9M87y4ZHRP8FkByTGlW {
    display: flex;
    flex: 1 1 auto;
    min-width: 1px;
}

.EYuWtqE1opzZtyTFoNGZz {
    flex: 0 0 auto;
}

.HSrY7Im342of-3Wbml-9q, 
.t8IltO49NPXvuKp9QQCjs,
._13o9M87y4ZHRP8FkByTGlW, 
.EYuWtqE1opzZtyTFoNGZz {
    overflow: hidden;
}
.NnYLBO20ljflr18GddlB- {
    border: 0;
    padding: 4px;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: white;
    resize: none;
    font-family: FixedSysExcelsior, monospace;
    font-family: var(--font-family-sys);
    font-weight: bold;
    /* -webkit-font-smoothing: none; */
    /* font-size: 13px; */
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0px;
    overflow: scroll;
}
._3o1YnC04ujUbhrIwt8kPm3 {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
}
._2mBNOpWnyFU7LzsN1UhSU1 {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    margin: 1px;
    overflow: hidden;
    box-sizing: border-box;
}

.qD3mFYvi5xJBeL_QTIqfJ._2AdlYjKSbQ-Mq86oxa8ZuM,
.i9vT8SR7fEGArmq6muOpD._2AdlYjKSbQ-Mq86oxa8ZuM {
    padding: 1px;
}

.qD3mFYvi5xJBeL_QTIqfJ._2AdlYjKSbQ-Mq86oxa8ZuM {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080;
    box-shadow: var(--box-shadow-notification);
}

.i9vT8SR7fEGArmq6muOpD._2AdlYjKSbQ-Mq86oxa8ZuM {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080;
    box-shadow: var(--box-shadow-notification);
}

.qD3mFYvi5xJBeL_QTIqfJ._9JbD7BseA7dNfbviKqTMf, 
.qD3mFYvi5xJBeL_QTIqfJ._2otphaJYq7yHAdjzDSMwh4 {
    border: 2px solid #808080;
    border: 2px solid var(--button-shadow);
    border-right-color: #ffffff;
    border-right-color: var(--button-highlight);
    border-bottom-color: #ffffff;
    border-bottom-color: var(--button-highlight);
}

.i9vT8SR7fEGArmq6muOpD._9JbD7BseA7dNfbviKqTMf,
.i9vT8SR7fEGArmq6muOpD._2otphaJYq7yHAdjzDSMwh4 {
    border: 2px solid #ffffff;
    border: 2px solid var(--button-highlight);
    border-right-color: #808080;
    border-right-color: var(--button-shadow);
    border-bottom-color: #808080;
    border-bottom-color: var(--button-shadow);

}

.qD3mFYvi5xJBeL_QTIqfJ._2otphaJYq7yHAdjzDSMwh4 {
    border-width: 3px;
}

.acFybkVTtxkz5_p3SM1f0 {
    position: relative;
    width: 13px;
    height: 23px;
    background: black;
}

.acFybkVTtxkz5_p3SM1f0 img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 13px;
    height: 23px;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
}

._3oUTo3NHHPhp8cJR4iGw5N {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 6px;
}

._2QRE0DlYV6zyNHLQTR5_kd {
    display: flex;
    flex-direction: row;
    padding: 4px;
}

._2QRE0DlYV6zyNHLQTR5_kd > * {
    margin: 0 2px;
}

.m1exeJoPIvKBhzPRizK3a {
    display: flex;
    width: auto;
    height: 23px;
}

._3oUTo3NHHPhp8cJR4iGw5N button,
._3oUTo3NHHPhp8cJR4iGw5N button:not(:disabled):active,
._3oUTo3NHHPhp8cJR4iGw5N button.i0jiy52Orr4noSoTMsREB
 {
    min-width: auto;
    padding: 0 4px 0 3px;
  }

._3oUTo3NHHPhp8cJR4iGw5N button img {
    width: 18px;
   height: 18px;
   -ms-interpolation-mode: nearest-neighbor;
       image-rendering: -moz-crisp-edges;
       image-rendering: pixelated;
}
.jkmHC2xGADq8nejL95UNu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px 20px 15px;
}

._1H3F5PB8I-K1JWa7h0-PYI {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    font-size: 11px;;
    margin-bottom: 10px;
}

._1H3F5PB8I-K1JWa7h0-PYI img {
    margin-right: 20px;
}

._1H3F5PB8I-K1JWa7h0-PYI p {
    margin-bottom: 10px;
}
._2eyKuduDzd67m4uxyDOX_S {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  margin: 1px !important;
  height: 18px;
  padding: 1px 2px !important;
  color: white;
  background: #040080;
  background: var(--dialog-blue);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

._2eyKuduDzd67m4uxyDOX_S.HqCtTa_wsGzYMEi6cBsj7 {
  background: #808080;
  background: var(--dialog-gray);
  color: #c0c0c0;
  color: var(--surface);
}

.KGG7dTgdDoS37RJ0jWAKX {
  flex: 1;
  margin: 0 24px 0 1px;
  letter-spacing: 0;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._1UE0vBOFuuYPNsiIRPCGPp {
  margin-right: 2px;
}

._3JjqGVgmekrI4vMrS_39Y6 {
  display: flex;
}

._3JjqGVgmekrI4vMrS_39Y6 button {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
}

._3JjqGVgmekrI4vMrS_39Y6 button:active {
  padding: 0;
}

._3JjqGVgmekrI4vMrS_39Y6 button:focus {
  outline: none;
}

._3JjqGVgmekrI4vMrS_39Y6 button:last-child {
  margin-left: 2px;
}

._3JjqGVgmekrI4vMrS_39Y6 button {
  position: relative;
}

._1SGvZRVt7AJ8C9jxmIh6Ri, ._80pw3kf1WWIsTOrNk-wCE, ._7gXB6ZfLQ5kmgWiTNmrgo, .SNH_rz6L8t2ATbFfljmS6, ._1MQCT6PGNCP9PCYzzoAqWr {
  width: 16px;
  height: 14px;
}

._1SGvZRVt7AJ8C9jxmIh6Ri {
  background-image: url(/windows-96/assets/minimize.svg);
  background-repeat: no-repeat;
  background-position: bottom 3px left 4px;
}

._80pw3kf1WWIsTOrNk-wCE {
  background-image: url(/windows-96/assets/maximize.svg);
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

._7gXB6ZfLQ5kmgWiTNmrgo {
  background-image: url(/windows-96/assets/restore.svg);
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.SNH_rz6L8t2ATbFfljmS6 {
  background-image: url(/windows-96/assets/help.svg);
  background-repeat: no-repeat;
  background-position: top 2px left 5px;
}

._1MQCT6PGNCP9PCYzzoAqWr {
  background-image: url(/windows-96/assets/close.svg);
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}
._3dLUQsS1BA7dsnseS8Tgel {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 3px;
    background: #c0c0c0;
    background: var(--surface);
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
  }

._1PBIMwYJPtaBZkyl1C1QfJ {
    flex: 1 1 auto;
}

._1PBIMwYJPtaBZkyl1C1QfJ {
    overflow: hidden;
}

._3E0U-GgZEfNbh5w3MtHjdP {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 24px;
    height: 24px;
    background: transparent url(/windows-96/assets/resize-handle-grip.png) no-repeat 7px 7px;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
}

._3E0U-GgZEfNbh5w3MtHjdP:hover {
    cursor: nwse-resize;
}
._3uhBtFQUopUHlHR9Tws1hX {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

._3uhBtFQUopUHlHR9Tws1hX > * {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
}
._1bZjZuTi4TnPHd4gr1gX3F {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

._2wylhfoLwesPz14vqZdjFO {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

._2FYOqP3OEOUYKzgtcWpPbu, ._25NV9kra9k9gHd3RHCK78Y {
  position: relative;
}

._2FYOqP3OEOUYKzgtcWpPbu {
  flex: 1 1 0;
  min-height: 1px;
}

._25NV9kra9k9gHd3RHCK78Y {
  flex: 0 0 28px
}

/**
 * Windows 96's is based om 98.css
 * Copyright (c) 2020 Jordan Scales <thatjdanisso.cool>
 * https://github.com/jdan/98.css/blob/master/LICENSE
 */

@font-face {
    font-family: "PixelatedMsSansSerif";
    src: url(/windows-96/assets/ms_sans_serif.woff) format("woff");
    src: url(/windows-96/assets/ms_sans_serif.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PixelatedMsSansSerif";
    src: url(/windows-96/assets/ms_sans_serif_bold.woff) format("woff");
    src: url(/windows-96/assets/ms_sans_serif_bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
  }

@font-face {
    font-family: "FixedSysExcelsior";
    src: url(/windows-96/assets/FSEX301.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

:root {
    /* Custom */
    --font-family-ui: "PixelatedMsSansSerif", sans-serif;
    --font-family-sys: FixedSysExcelsior, monospace;
    --box-shadow-notification: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow);
    /* from Win98.css */

    /* Color */
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    /* --dialog-blue: #000080; */
    --dialog-blue:#040080;
    /* --dialog-blue-light: #1084d0; */
    --dialog-gray: #808080;
    /* --dialog-gray-light: #b5b5b5; */
    --link-blue: #0000ff;
    --desktop-green: #008080;
    /* Spacing */
    --element-spacing: 8px;
    --grouped-button-spacing: 4px;
    --grouped-element-spacing: 6px;
    --radio-width: 12px;
    --checkbox-width: 13px;
    --radio-label-spacing: 6px;
    --range-track-height: 4px;
    --range-spacing: 10px;
    /* Some detailed computations for radio buttons and checkboxes */
    --radio-total-width-precalc: calc(var(--radio-width) + var(--radio-label-spacing));
    --radio-total-width: calc(var(--radio-total-width-precalc));
    --radio-left: calc(-1 * var(--radio-total-width-precalc));
    --radio-dot-width: 4px;
    --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
    --radio-dot-left: calc( -1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var( --radio-dot-width) / 2);
    --checkbox-total-width-precalc: calc(var(--checkbox-width) + var(--radio-label-spacing));
    --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
    --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
    --checkmark-width: 7px;
    --checkmark-top: 3px;
    --checkmark-left: 3px;
    /* Borders */
    --border-width: 1px;
    --border-raised-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-face);
    --border-sunken-outer: inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
    --border-sunken-inner: inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);
    /* Window borders flip button-face and button-highlight */
    --border-window-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-face);
    --border-window-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-highlight);
    /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
    --border-field: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

html {
  font-size: 12px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* body {
    font-size: 1rem;
    font-family: var(--font-family-main);
    font-weight: 400;
  } */

/* body, input, textarea, button, select {
    line-height: 130%;
  } */

body, button, label, input, textarea, select, option, ul {
  /* font-family: Arial; */
  /* font-size: 12px; */
  font-size: 11px;
  color: #222222;
  font-family: "PixelatedMsSansSerif", sans-serif, sans-serif;
  font-family: var(--font-family-ui), sans-serif;
  /* -webkit-font-smoothing: none; */
}


h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

u {
  text-decoration: none;
  border-bottom: 0.5px solid #222222;
}

/* .vertical-bar {
  width: 4px;
  height: 20px;
  background: #c0c0c0;
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
} */

label {
  display: inline-flex;
  align-items: center;
}

:disabled, :disabled+label {
  color: #808080;
  color: var(--button-shadow);
  text-shadow: 1px 1px 0 #ffffff;
  text-shadow: 1px 1px 0 var(--button-highlight);
}

input[type="radio"], input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none;
}

input[type="radio"]+label, input[type="checkbox"]+label {
  line-height: 13px;
}

input[type="radio"]:focus+label, input[type="checkbox"]:focus+label {
  outline: 1px dotted #000000;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
  padding: 3px 4px;
  border: none;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  box-shadow: var(--border-field);
  background-color: #ffffff;
  background-color: var(--button-highlight);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 21px;
}

input[type="text"], input[type="password"], input[type="email"] {
  /* For some reason descenders are getting cut off without this */
  line-height: 2;
}

a {
  color: #0000ff;
  color: var(--link-blue);
}

a:focus {
  outline: 1px dotted #0000ff;
  outline: 1px dotted var(--link-blue);
}

pre {
  display: block;
  background: #ffffff;
  background: var(--button-highlight);
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  box-shadow: var(--border-field);
  padding: 12px 8px;
  margin: 0;
}

code, code * {
  font-family: FixedSysExcelsior, monospace;
  font-family: var(--font-family-sys);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background-color: #c0c0c0;
  background-color: var(--surface);
}

::-webkit-scrollbar-track {
  background-image: url(/windows-96/assets/scrollbar-background.svg);
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  background-color: var(--surface);
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

::-webkit-scrollbar-button:horizontal:start:decrement, ::-webkit-scrollbar-button:horizontal:end:increment, ::-webkit-scrollbar-button:vertical:start:decrement, ::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url(/windows-96/assets/button-up.svg);
}

::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url(/windows-96/assets/button-down.svg);
}

::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url(/windows-96/assets/button-left.svg);
}

::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url(/windows-96/assets/button-right.svg);
}
