._34JW4gjqutc0EYWKOKJLd- {

}
._3XxCxNo4p3GGfcsPBw1O7U {
    background: #ffffff;
    background: var(--button-highlight);
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    box-shadow: var(--border-field);
    margin: 1px;
    padding: 2px;
}
._1N4v7MztcRw4Y_QnzCurf {
  display: block;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
._1pQFFht3ViaCYVTk28w-3E {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  max-height: 100%;
  max-width: 100%;
  color: white;
}

._15WvquPCD0xW_jwUUoc_mO {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 2px;
  width: 74px;
  height: 66px;
}

._2V2_gK5C9Ok9agWUUt2N0C {
  margin-bottom: 4px;
}

._2k1vD97ABZRA6ru24foJxj {
  max-height: 30px;
  padding: 2px 3px 2px 3px;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

._15WvquPCD0xW_jwUUoc_mO._3ejM05gSlwVcuh6BTcZLXT ._2k1vD97ABZRA6ru24foJxj {
  color: white;
  background: #000080;
  background: var(--dialog-blue);
}

._15WvquPCD0xW_jwUUoc_mO._1vbqfLv5rqaOahx88Wq1CN ._2k1vD97ABZRA6ru24foJxj {
  outline: 1px dotted black;
  outline-offset: -1px;
}

._15WvquPCD0xW_jwUUoc_mO._1vbqfLv5rqaOahx88Wq1CN._3ejM05gSlwVcuh6BTcZLXT ._2k1vD97ABZRA6ru24foJxj {
  outline-color: white;
}
._1i8MyK5JO3l9WQRUSm1nob {
    display: flex;
    margin: 1px;
    height: 16px;
}

._2p0kLn6v20E874EHgFBepL {
    display: flex;
    align-items: center;
    padding: 0 6px;
    list-style-type: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* .menuBarOption:hover {
    background: var(--dialog-blue);
    color: white;
} */

._13-U8YyybNAgwWv6m-6qi::first-letter {
    text-decoration: underline;
}
._2eSMq5Wi_k9j3Hiy4FqKaa {

}
._2xluhzp6ssXUlxizOBirw2 {
    background: #ffffff;
    background: var(--button-highlight);
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    box-shadow: var(--border-field);
    margin: 1px;
    padding: 2px;
}
.qTdvPo4FMvt65M8czLZ_p {
    display: flex;
    margin: 1px;
    height: 16px;
}

.dwdZRcaBSEkZa6WDi0TnB {
    display: flex;
    align-items: center;
    padding: 0 6px;
    list-style-type: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* .menuBarOption:hover {
    background: var(--dialog-blue);
    color: white;
} */

._1mgxwsJXK8VLmUAdgun3jv::first-letter {
    text-decoration: underline;
}
._237GMEw7JRG3mCLOsXJdXd {
    /* width: 100%;
    height: 200px */

}

.NnYLBO20ljflr18GddlB- {
    border: 0;
    padding: 2px;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background: white;
    resize: none;
    -webkit-font-smoothing: none;
}
._1ew2QELWAyrXswoyfipXKT {
  display: block;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
._2e3qmkSfOxF_rOM4Y_rvF0 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  max-height: 100%;
  max-width: 100%;
  color: white;
}

._1qjwAZ7oB87EHVttG4SND {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 2px;
  width: 74px;
  height: 66px;
}

._2sO5fQdT_6J92zR_MUba_h {
  margin-bottom: 4px;
}

._3ETZZ5p_AtFxn_IBsv3AX5 {
  max-height: 30px;
  padding: 2px 3px 2px 3px;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

._1qjwAZ7oB87EHVttG4SND._3pMHMvDG_UdCMTKNJsE9U ._3ETZZ5p_AtFxn_IBsv3AX5 {
  color: white;
  background: #000080;
  background: var(--dialog-blue);
}

._1qjwAZ7oB87EHVttG4SND._3SHeW1BhGwiZvIdhBVF3fO ._3ETZZ5p_AtFxn_IBsv3AX5 {
  outline: 1px dotted black;
  outline-offset: -1px;
}

._1qjwAZ7oB87EHVttG4SND._3SHeW1BhGwiZvIdhBVF3fO._3pMHMvDG_UdCMTKNJsE9U ._3ETZZ5p_AtFxn_IBsv3AX5 {
  outline-color: white;
}
._1fPJKyKPKmwW0UfTMobJzG {
  width: 100%;
  height: 100%;
}
._3AO2i7Cwh3zqDA7KvSWgzn {
    display: flex;
    align-items: center;
}

._3AO2i7Cwh3zqDA7KvSWgzn._2LUOwiyc9ZgBPUuF0-aoH3 {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    padding: 2px 11px 0 13px;
}

._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA {
    min-height: 22px;
    height: 22px;
    padding: 0 4px 0;
}

._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA img {
    margin-right: 3px;
}

._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA:not(:disabled):active,
._3AO2i7Cwh3zqDA7KvSWgzn.sZCZlRy4l1iu4bCEpmVzA._2LUOwiyc9ZgBPUuF0-aoH3 {
    padding: 1px 4px 0;
}

._3AO2i7Cwh3zqDA7KvSWgzn._3vpeS3PRnu0ww7U-fOlrI3:focus {
    outline: 0;
}
._2AyF8MpZbLsOGIiAcgvhZA {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 2px;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
    line-height: 1;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080;
    box-shadow: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow);
}

.IrfPkjVrjczOYFx6K_xx0 {
    margin: 0 1px 0;
}

.THtSDxYBxe7Q9nMsDxwUm {
    margin: 0 10px;
}
.ZLwPWAu0sA0na7rK7MXrj{
    position: relative; 
    display: flex;
    align-items: center;
    margin: 1px 0;
    min-width: 128px;
    height: 20px;
    color: black;
    white-space: nowrap;
    overflow: visible;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.ZLwPWAu0sA0na7rK7MXrj:hover
{
    color: white;
    background-color: #000080;
    background-color: var(--dialog-blue);
}

._2pOAELQm0VIWXaKKjUpZVJ {
    margin: 0 6px;
}

._3ukUcSWc6APWdB-Hn0nVMB {
    margin: 0 3px;
}

._2xN1Y0DerGmFEvBCOQ2xXe {
    flex: 1;
    margin-right: 14px;
    /* margin: 1px 0 0; */
}

.ZLwPWAu0sA0na7rK7MXrj._3XB6oKsayj7tmiDLwX8NVP {
    margin: 0;
    min-width: 136px;
    height: 32px;
}

.ZLwPWAu0sA0na7rK7MXrj._3XB6oKsayj7tmiDLwX8NVP > ._2pOAELQm0VIWXaKKjUpZVJ {
    margin: 0 10px;
}

.ZLwPWAu0sA0na7rK7MXrj._3XB6oKsayj7tmiDLwX8NVP > ._2xN1Y0DerGmFEvBCOQ2xXe::first-letter {
    text-decoration: underline;
}

._1STiYULglz3c1ugdkS3uK2 {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate3d(-3px, -6px, 0);
}

.ZLwPWAu0sA0na7rK7MXrj:hover > ._1STiYULglz3c1ugdkS3uK2 {
  display: block;
}
.pecxl-CEDGutOuBs5E6vs {
    display: inline-flex;
    flex-direction: column;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
    background: #c0c0c0;
    background: var(--surface);
    padding: 3px;
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
    font-size: 11px;
    line-height: 1;
    overflow: visible;
}

.zgqjj5bKAyVhXXNrjOThc {
    padding: 5px 0 2px;
    box-shadow:  inset 0px 1px #808080, inset 0px 2px #ffffff;
    box-shadow:  inset 0px 1px var(--button-shadow), inset 0px 2px var(--button-highlight);
    overflow: visible;
}

.pecxl-CEDGutOuBs5E6vs._32LbfZwRYnw7cT-hBHcFWb > .zgqjj5bKAyVhXXNrjOThc {
    padding: 8px 0 6px;
}

.zgqjj5bKAyVhXXNrjOThc:first-child {
   padding-top: 0 !important; 
   box-shadow:  none !important;

}  

.zgqjj5bKAyVhXXNrjOThc:last-child {
    padding-bottom: 0 !important; 
 }  

._3eJEMS4ytRM9ML4zkk1aIf {
  position: relative;
}

._3eJEMS4ytRM9ML4zkk1aIf > div {
  padding-left: 24px;
}

._3eJEMS4ytRM9ML4zkk1aIf::before {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 21px;
  height: calc(100% - 6px);
  content: '';
  background: #808080 url(/windows-96/assets/start-menu-logo.png) no-repeat left bottom;
  background: var(--dialog-gray) url(/windows-96/assets/start-menu-logo.png) no-repeat left bottom;
}
._1Frg6Hb_BaXu5OLMX7tyX_ {
    position: relative;
    display: flex;
    height: 28px;
    padding: 4px 0 2px 0;
    box-shadow: inset 0 1px #dfdfdf, inset 0 2px #ffffff;
    box-shadow: inset 0 1px var(--button-face), inset 0 2px var(--button-highlight);
    background: #c0c0c0;
    background: var(--surface);
}

._5gT0MZz1guPQ97b6qQqbM {
    z-index: 1;
    position: absolute;
    left: 2px;
    bottom: 24px;
}

._1PFYt5eo6SU1OJbOqWVN-S {
    margin: 0 2px;
}

._1PFYt5eo6SU1OJbOqWVN-S  button {
    min-width: auto;
}

._2MeJeQfw7HqgNX4qumf7rf {
    margin: 1px 1px 0 3px;
}

._1RwUoqeeglxcaZb7LNApjB {
    flex: 1 1 auto;
    display: flex;
    padding: 0 2px;
}

._1RwUoqeeglxcaZb7LNApjB button {
    flex: 1 1 0;
    margin-right: 4px;
    max-width: 160px;
}

.p2eVAIoSvqh3cmPY5BBFn {
    flex: 0 0 auto;
    margin: 0 1px;
}
.iY3rVhTWiBqssvH5q2UjR {
    justify-content: flex-start !important;
    margin: 1px !important;
    height: 18px;
    padding: 1px 2px !important;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

._1KO2I6xgfVgk6msjTfiOQH {
    margin-right: 2px;
}

._2fZHPrjQgP-UHP4EddJ0Ys {
    flex:1;
    margin-left: 1px;
}

._3dLUQsS1BA7dsnseS8Tgel {}
._3uhBtFQUopUHlHR9Tws1hX {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

._3uhBtFQUopUHlHR9Tws1hX > * {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
}
._1bZjZuTi4TnPHd4gr1gX3F {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

._2wylhfoLwesPz14vqZdjFO {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

._2FYOqP3OEOUYKzgtcWpPbu, ._25NV9kra9k9gHd3RHCK78Y {
  position: relative;
}

._2FYOqP3OEOUYKzgtcWpPbu {
  flex: 1 1 0;
  min-height: 1px;
}

._25NV9kra9k9gHd3RHCK78Y {
  flex: 0 0 28px
}
/*! 98.css v0.1.16 - https://github.com/jdan/98.css */@font-face{font-family:"Pixelated MS Sans Serif";src:url(/windows-96/assets/ms_sans_serif.woff) format("woff");src:url(/windows-96/assets/ms_sans_serif.woff2) format("woff2");font-weight:400;font-style:normal}@font-face{font-family:"Pixelated MS Sans Serif";src:url(/windows-96/assets/ms_sans_serif_bold.woff) format("woff");src:url(/windows-96/assets/ms_sans_serif_bold.woff2) format("woff2");font-weight:700;font-style:normal}body{font-family:Arial;font-size:12px;color:#222}.title-bar,.window,button,input,label,option,select,textarea,ul.tree-view{font-family:"Pixelated MS Sans Serif",Arial;-webkit-font-smoothing:none;font-size:11px}h1{font-size:5rem}h2{font-size:2.5rem}h3{font-size:2rem}h4{font-size:1.5rem}u{text-decoration:none;border-bottom:.5px solid #222}button{box-sizing:border-box;border:none;border-radius:0;min-width:75px;min-height:23px;padding:0 12px}.vertical-bar,button{background:silver;box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf}.vertical-bar{width:4px;height:20px}button:not(:disabled):active{box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;padding:2px 11px 0 13px}@media (not(hover)){button:not(:disabled):hover{box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey}}button:focus{outline:1px dotted #000;outline-offset:-4px}button::-moz-focus-inner{border:0}:disabled,:disabled+label{color:grey;text-shadow:1px 1px 0 #fff}.window{box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;background:silver;padding:3px}.title-bar{background:linear-gradient(90deg,navy,#1084d0);padding:3px 2px 3px 3px;display:flex;justify-content:space-between;align-items:center}.title-bar.inactive{background:linear-gradient(90deg,grey,#b5b5b5)}.title-bar-text{font-weight:700;color:#fff;letter-spacing:0;margin-right:24px}.title-bar-controls{display:flex}.title-bar-controls button{padding:0;display:block;min-width:16px;min-height:14px}.title-bar-controls button:active{padding:0}.title-bar-controls button:focus{outline:none}.title-bar-controls button[aria-label=Minimize]{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");background-repeat:no-repeat;background-position:bottom 3px left 4px}.title-bar-controls button[aria-label=Maximize]{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");background-repeat:no-repeat;background-position:top 2px left 3px}.title-bar-controls button[aria-label=Restore]{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M2 0h6v2H2zM7 2h1v4H7zM2 2h1v1H2zM6 5h1v1H6zM0 3h6v2H0zM5 5h1v4H5zM0 5h1v4H0zM1 8h4v1H1z'/%3E%3C/svg%3E");background-repeat:no-repeat;background-position:top 2px left 3px}.title-bar-controls button[aria-label=Help]{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 1h2v2H0zM1 0h4v1H1zM4 1h2v2H4zM3 3h2v1H3zM2 4h2v2H2zM2 7h2v2H2z'/%3E%3C/svg%3E");background-repeat:no-repeat;background-position:top 2px left 5px}.title-bar-controls button[aria-label=Close]{margin-left:2px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");background-repeat:no-repeat;background-position:top 3px left 4px}.window-body{margin:8px}fieldset{border:none;box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px grey,inset 2px 2px #dfdfdf;padding:10px;padding-block-start:8px;margin:0}legend{background:silver}.field-row{display:flex;align-items:center}[class^=field-row]+[class^=field-row]{margin-top:6px}.field-row>*+*{margin-left:6px}.field-row-stacked{display:flex;flex-direction:column}.field-row-stacked *+*{margin-top:6px}label{display:inline-flex;align-items:center}input[type=checkbox],input[type=radio]{appearance:none;-webkit-appearance:none;-moz-appearance:none;margin:0;background:0;position:fixed;opacity:0;border:none}input[type=checkbox]+label,input[type=radio]+label{line-height:13px}input[type=radio]+label{position:relative;margin-left:18px}input[type=radio]+label:before{content:"";position:absolute;top:0;left:-18px;display:inline-block;width:12px;height:12px;margin-right:6px;background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0H4v1H2v1H1v2H0v4h1v2h1V8H1V4h1V2h2V1h4v1h2V1H8V0z' fill='gray'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1H4v1H2v2H1v4h1v1h1V8H2V4h1V3h1V2h4v1h2V2H8V1z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3h1v1H9V3zm1 5V4h1v4h-1zm-2 2V9h1V8h1v2H8zm-4 0v1h4v-1H4zm0 0V9H2v1h2z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2h-1v2h1v4h-1v2H8v1H4v-1H2v1h2v1h4v-1h2v-1h1V8h1V4h-1V2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2h4v1h1v1h1v4H9v1H8v1H4V9H3V8H2V4h1V3h1V2z' fill='%23fff'/%3E%3C/svg%3E")}input[type=radio]:active+label:before{background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0H4v1H2v1H1v2H0v4h1v2h1V8H1V4h1V2h2V1h4v1h2V1H8V0z' fill='gray'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1H4v1H2v2H1v4h1v1h1V8H2V4h1V3h1V2h4v1h2V2H8V1z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3h1v1H9V3zm1 5V4h1v4h-1zm-2 2V9h1V8h1v2H8zm-4 0v1h4v-1H4zm0 0V9H2v1h2z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2h-1v2h1v4h-1v2H8v1H4v-1H2v1h2v1h4v-1h2v-1h1V8h1V4h-1V2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2h4v1h1v1h1v4H9v1H8v1H4V9H3V8H2V4h1V3h1V2z' fill='silver'/%3E%3C/svg%3E")}input[type=radio]:checked+label:after{content:"";display:block;width:4px;height:4px;top:4px;left:-14px;position:absolute;background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='4' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H1v1H0v2h1v1h2V3h1V1H3V0z' fill='%23000'/%3E%3C/svg%3E")}input[type=checkbox]:focus+label,input[type=radio]:focus+label{outline:1px dotted #000}input[type=radio][disabled]+label:before{background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0H4v1H2v1H1v2H0v4h1v2h1V8H1V4h1V2h2V1h4v1h2V1H8V0z' fill='gray'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1H4v1H2v2H1v4h1v1h1V8H2V4h1V3h1V2h4v1h2V2H8V1z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3h1v1H9V3zm1 5V4h1v4h-1zm-2 2V9h1V8h1v2H8zm-4 0v1h4v-1H4zm0 0V9H2v1h2z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2h-1v2h1v4h-1v2H8v1H4v-1H2v1h2v1h4v-1h2v-1h1V8h1V4h-1V2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2h4v1h1v1h1v4H9v1H8v1H4V9H3V8H2V4h1V3h1V2z' fill='silver'/%3E%3C/svg%3E")}input[type=radio][disabled]:checked+label:after{background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='4' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H1v1H0v2h1v1h2V3h1V1H3V0z' fill='gray'/%3E%3C/svg%3E")}input[type=checkbox]+label{position:relative;margin-left:19px}input[type=checkbox]+label:before{content:"";position:absolute;left:-19px;display:inline-block;width:13px;height:13px;background:#fff;box-shadow:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;margin-right:6px}input[type=checkbox]:active+label:before{background:silver}input[type=checkbox]:checked+label:after{content:"";display:block;width:7px;height:7px;position:absolute;top:3px;left:-16px;background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='%23000'/%3E%3C/svg%3E")}input[type=checkbox][disabled]+label:before{background:silver}input[type=checkbox][disabled]:checked+label:after{background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='gray'/%3E%3C/svg%3E")}input[type=email],input[type=password],input[type=text]{border:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0}input[type=email],input[type=password],input[type=text],select{padding:3px 4px;box-shadow:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;background-color:#fff;box-sizing:border-box}select,textarea{border:none}textarea{padding:3px 4px;box-shadow:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;background-color:#fff;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0}input[type=email],input[type=password],input[type=text],select{height:21px}input[type=email],input[type=password],input[type=text]{line-height:2}select{appearance:none;-webkit-appearance:none;-moz-appearance:none;position:relative;padding-right:32px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");background-position:top 2px right 2px;background-repeat:no-repeat;border-radius:0}input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,select:focus,textarea:focus{outline:none}input[type=range]{-webkit-appearance:none;width:100%;background:transparent}input[type=range]:focus{outline:none}input[type=range]::-webkit-slider-thumb{-webkit-appearance:none;height:21px;width:11px;background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");transform:translateY(-8px)}input[type=range].has-box-indicator::-webkit-slider-thumb{background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");transform:translateY(-10px)}input[type=range]::-moz-range-thumb{height:21px;width:11px;border:0;border-radius:0;background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");transform:translateY(2px)}input[type=range].has-box-indicator::-moz-range-thumb{background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");transform:translateY(0)}input[type=range]::-webkit-slider-runnable-track{width:100%;height:2px;box-sizing:border-box;background:#000;border-right:1px solid grey;border-bottom:1px solid grey;box-shadow:1px 0 0 #fff,1px 1px 0 #fff,0 1px 0 #fff,-1px 0 0 #a9a9a9,-1px -1px 0 #a9a9a9,0 -1px 0 #a9a9a9,-1px 1px 0 #fff,1px -1px #a9a9a9}input[type=range]::-moz-range-track{width:100%;height:2px;box-sizing:border-box;background:#000;border-right:1px solid grey;border-bottom:1px solid grey;box-shadow:1px 0 0 #fff,1px 1px 0 #fff,0 1px 0 #fff,-1px 0 0 #a9a9a9,-1px -1px 0 #a9a9a9,0 -1px 0 #a9a9a9,-1px 1px 0 #fff,1px -1px #a9a9a9}.is-vertical{display:inline-block;width:4px;height:150px;transform:translateY(50%)}.is-vertical>input[type=range]{width:150px;height:4px;margin:0 16px 0 10px;transform-origin:left;transform:rotate(270deg) translateX(calc(-50% + 8px))}.is-vertical>input[type=range]::-webkit-slider-runnable-track{border-left:1px solid grey;border-right:0;border-bottom:1px solid grey;box-shadow:-1px 0 0 #fff,-1px 1px 0 #fff,0 1px 0 #fff,1px 0 0 #a9a9a9,1px -1px 0 #a9a9a9,0 -1px 0 #a9a9a9,1px 1px 0 #fff,-1px -1px #a9a9a9}.is-vertical>input[type=range]::-moz-range-track{border-left:1px solid grey;border-right:0;border-bottom:1px solid grey;box-shadow:-1px 0 0 #fff,-1px 1px 0 #fff,0 1px 0 #fff,1px 0 0 #a9a9a9,1px -1px 0 #a9a9a9,0 -1px 0 #a9a9a9,1px 1px 0 #fff,-1px -1px #a9a9a9}.is-vertical>input[type=range]::-webkit-slider-thumb{transform:translateY(-8px) scaleX(-1)}.is-vertical>input[type=range].has-box-indicator::-webkit-slider-thumb{transform:translateY(-10px) scaleX(-1)}.is-vertical>input[type=range]::-moz-range-thumb{transform:translateY(2px) scaleX(-1)}.is-vertical>input[type=range].has-box-indicator::-moz-range-thumb{transform:translateY(0) scaleX(-1)}select:focus{color:#fff;background-color:navy}select:focus option{color:#000;background-color:#fff}select:active{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h16v17H0V0zm1 16h14V1H1v15z' fill='gray'/%3E%3Cpath fill='silver' d='M1 1h14v15H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7H5v1h1v1h1v1h1v1h1v-1h1V9h1V8h1V7z' fill='%23000'/%3E%3C/svg%3E")}a{color:#00f}a:focus{outline:1px dotted #00f}ul.tree-view{display:block;background:#fff;box-shadow:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;padding:6px;margin:0}ul.tree-view li{list-style-type:none}ul.tree-view a{text-decoration:none;color:#000}ul.tree-view a:focus{background-color:navy;color:#fff}ul.tree-view li,ul.tree-view ul{margin-top:3px}ul.tree-view ul{margin-left:16px;padding-left:16px;border-left:1px dotted grey}ul.tree-view ul>li{position:relative}ul.tree-view ul>li:before{content:"";display:block;position:absolute;left:-16px;top:6px;width:12px;border-bottom:1px dotted grey}ul.tree-view ul>li:last-child:after{content:"";display:block;position:absolute;left:-20px;top:7px;bottom:0;width:8px;background:#fff}ul.tree-view details{margin-top:0}ul.tree-view details[open] summary{margin-bottom:0}ul.tree-view ul details>summary:before{margin-left:-22px;position:relative;z-index:1}ul.tree-view details>summary:before{text-align:center;display:block;float:left;content:"+";border:1px solid grey;width:8px;height:9px;line-height:8px;margin-right:5px;padding-left:1px;background-color:#fff}ul.tree-view details[open]>summary:before{content:"-"}pre{display:block;background:#fff;box-shadow:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;padding:12px 8px;margin:0}code,code *{font-family:monospace}summary:focus{outline:1px dotted #000}::-webkit-scrollbar{width:16px}::-webkit-scrollbar:horizontal{height:17px}::-webkit-scrollbar-corner{background:#dfdfdf}::-webkit-scrollbar-track{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E")}::-webkit-scrollbar-thumb{background-color:#dfdfdf;box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf}::-webkit-scrollbar-button:horizontal:end:increment,::-webkit-scrollbar-button:horizontal:start:decrement,::-webkit-scrollbar-button:vertical:end:increment,::-webkit-scrollbar-button:vertical:start:decrement{display:block}::-webkit-scrollbar-button:vertical:start{height:17px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E")}::-webkit-scrollbar-button:vertical:end{height:17px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E")}::-webkit-scrollbar-button:horizontal:start{width:16px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E")}::-webkit-scrollbar-button:horizontal:end{width:16px;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E")}
.Yo7TFDFywugKSE2UAZzfl {}

:root {
    /* Color */
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;
    /* Spacing */
    --element-spacing: 8px;
    --grouped-button-spacing: 4px;
    --grouped-element-spacing: 6px;
    --radio-width: 12px;
    --checkbox-width: 13px;
    --radio-label-spacing: 6px;
    --range-track-height: 4px;
    --range-spacing: 10px;
    /* Some detailed computations for radio buttons and checkboxes */
    --radio-total-width-precalc: calc(var(--radio-width) + var(--radio-label-spacing));
    --radio-total-width: calc(var(--radio-total-width-precalc));
    --radio-left: calc(-1 * var(--radio-total-width-precalc));
    --radio-dot-width: 4px;
    --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
    --radio-dot-left: calc( -1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var( --radio-dot-width) / 2);
    --checkbox-total-width-precalc: calc(var(--checkbox-width) + var(--radio-label-spacing));
    --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
    --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
    --checkmark-width: 7px;
    --checkmark-top: 3px;
    --checkmark-left: 3px;
    /* Borders */
    --border-width: 1px;
    --border-raised-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-face);
    --border-sunken-outer: inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
    --border-sunken-inner: inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);
    /* Window borders flip button-face and button-highlight */
    --border-window-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-face);
    --border-window-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-highlight);
    /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
    --border-field: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
}

* {
    box-sizing: border-box;
    margin: 0; 
    border: 0;
    padding: 0; 
    background-color: transparent;
  }
  
  html {
    font-size: 12px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  /* body {
    font-size: 1rem;
    font-family: var(--font-family-main);
    font-weight: 400;
  } */
  
  /* body, input, textarea, button, select {
    line-height: 130%;
  } */
  
