.menu {
    display: inline-flex;
    flex-direction: column;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
    background: var(--surface);
    padding: 3px;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
    line-height: 1;
    overflow: visible;
}

.optionGroup {
    padding: 5px 0 2px;
    box-shadow:  inset 0px 1px var(--button-shadow), inset 0px 2px var(--button-highlight);
    overflow: visible;
}

.menu.large > .optionGroup {
    padding: 8px 0 6px;
}

.optionGroup:first-child {
   padding-top: 0 !important; 
   box-shadow:  none !important;

}  

.optionGroup:last-child {
    padding-bottom: 0 !important; 
 }  
