.titlebar {
    justify-content: flex-start !important;
    margin: 1px !important;
    height: 18px;
    padding: 1px 2px !important;
    user-select: none;
}

.titlebarIcon {
    margin-right: 2px;
}

.titlebarText {
    flex:1;
    margin-left: 1px;
}
