.titleBar {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  margin: 1px !important;
  height: 18px;
  padding: 1px 2px !important;
  color: white;
  background: var(--dialog-blue);
  user-select: none;
}

.titleBar.inactive {
  background: var(--dialog-gray);
  color: var(--surface);
}

.titleBarText {
  flex: 1;
  margin: 0 24px 0 1px;
  letter-spacing: 0;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.titleBarIcon {
  margin-right: 2px;
}

.titleBarControls {
  display: flex;
}

.titleBarControls button {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
}

.titleBarControls button:active {
  padding: 0;
}

.titleBarControls button:focus {
  outline: none;
}

.titleBarControls button:last-child {
  margin-left: 2px;
}

.titleBarControls button {
  position: relative;
}

.minimize, .maximize, .restore, .help, .close {
  width: 16px;
  height: 14px;
}

.minimize {
  background-image: url("../../../assets/img/ui/minimize.svg");
  background-repeat: no-repeat;
  background-position: bottom 3px left 4px;
}

.maximize {
  background-image: url("../../../assets/img/ui/maximize.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.restore {
  background-image: url("../../../assets/img/ui/restore.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.help {
  background-image: url("../../../assets/img/ui/help.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 5px;
}

.close {
  background-image: url("../../../assets/img/ui/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}