.windowContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.windowContentMenu {
    flex: 0 0 auto;
}

.windowContentBody {
    flex: 1 1 auto;
    min-width: 1px;
}

.windowContentFooter {
    flex: 0 0 auto;
}