.windowContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.windowContentMenu {
    flex: 0 0 auto;
}

.windowContentBody {
    display: flex;
    flex: 1 1 auto;
    min-width: 1px;
}

.windowContentFooter {
    flex: 0 0 auto;
}

.windowContent, 
.windowContentMenu,
.windowContentBody, 
.windowContentFooter {
    overflow: hidden;
}