.notificationArea {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 2px;
    font-family: var(--font-family-ui), sans-serif;
    font-size: 11px;
    line-height: 1;
    box-shadow: var(--box-shadow-notification);
}

.statusIcon {
    margin: 0 1px 0;
}

.clock {
    margin: 0 10px;
}