.startMenu {
  position: relative;
}

.startMenu > div {
  padding-left: 24px;
}

.startMenu::before {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 21px;
  height: calc(100% - 6px);
  content: '';
  background: var(--dialog-gray) url('../../../assets//img/various/start-menu-logo.png') no-repeat left bottom;
}