.timerAppContent {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 6px;
}

.timers {
    display: flex;
    flex-direction: row;
    padding: 4px;
}

.timers > * {
    margin: 0 2px;
}

.timer {
    display: flex;
    width: auto;
    height: 23px;
}


.timerAppContent button {
    min-width: auto;
    padding: 0 4px 0 3px;
}

.timerAppContent button img {
    width: 18px;
   height: 18px;
   image-rendering: pixelated;
}