@font-face {
    font-family: 'Ms Sans Serif';
    src: url('../assets/fonts/ms_sans_serif.woff') format("woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Ms Sans Serif';
    src: url('../assets/fonts/ms_sans_serif_bold.woff') format("woff");
    font-weight: 700;
}


:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --font-family-main: "Ms Sans Serif", "Microsoft Sans Serif", sans-serif;
}
