.fileGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  width: 100%;
  height: 100%;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 2px;
  width: 74px;
  height: 66px;
}

.fileIcon {
  padding: 0 8px 4px 8px;
}

.fileLabel {
  max-height: 30px;
  padding: 2px 3px 2px 3px;
  font-family: var(--font-family-ui), sans-serif;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  overflow: hidden;
  user-select: none;
}

.file.focus .fileIcon {
  filter: brightness(0.4) contrast(0.9) sepia(100%) hue-rotate(195deg) saturate(2)
}

.file.focus .fileLabel {
  color: white;
  background: var(--dialog-blue);
}

.file.softFocus .fileLabel {
  outline: 1px dotted black;
  outline-offset: -1px;
}

.file.softFocus.focus .fileLabel {
  outline-color: white;
}