.fileGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  max-height: 100%;
  max-width: 100%;
  color: white;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 2px;
  width: 74px;
  height: 66px;
}

.fileIcon {
  margin-bottom: 4px;
}

.fileLabel {
  max-height: 30px;
  padding: 2px 3px 2px 3px;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  overflow: hidden;
  user-select: none;
}

.file.focus .fileLabel {
  background: var(--dialog-blue);
}

.file.softFocus .fileLabel {
  outline: 1px dotted white;
  outline-offset: -1px;
}