.windowsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.windowsContainer > * {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
}