.notificationArea {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 2px;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
    line-height: 1;
    box-shadow: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow);
}

.statusIcon {
    margin: 0 1px 0;
}

.clock {
    margin: 0 10px;
}