.statusBar {
    position: relative;
    display: flex;
    height: 21px;
    padding: 1px;
}

.spaceLeft, .spaceRight {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100%;
    padding: 3px 3px 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: var(--box-shadow-notification);

}

.spaceLeft {
    min-width: 144px;
    margin-right: 2px;
}

.spaceRight {
    flex: 1;
}

.handle {
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 13px;
    height: 13px;
    background: url(../../../assets/img/various/resize-handle-grip.png);
    image-rendering: pixelated;
}