* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

html {
  font-size: 12px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* body {
    font-size: 1rem;
    font-family: var(--font-family-main);
    font-weight: 400;
  } */

/* body, input, textarea, button, select {
    line-height: 130%;
  } */

body, button, label, input, textarea, select, option, ul {
  /* font-family: Arial; */
  /* font-size: 12px; */
  font-size: 11px;
  color: #222222;
  font-family: var(--font-family-ui), sans-serif;
  /* -webkit-font-smoothing: none; */
}


h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

u {
  text-decoration: none;
  border-bottom: 0.5px solid #222222;
}

/* .vertical-bar {
  width: 4px;
  height: 20px;
  background: #c0c0c0;
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
} */

label {
  display: inline-flex;
  align-items: center;
}

:disabled, :disabled+label {
  color: var(--button-shadow);
  text-shadow: 1px 1px 0 var(--button-highlight);
}

input[type="radio"], input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none;
}

input[type="radio"]+label, input[type="checkbox"]+label {
  line-height: 13px;
}

input[type="radio"]:focus+label, input[type="checkbox"]:focus+label {
  outline: 1px dotted #000000;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
  padding: 3px 4px;
  border: none;
  box-shadow: var(--border-field);
  background-color: var(--button-highlight);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 21px;
}

input[type="text"], input[type="password"], input[type="email"] {
  /* For some reason descenders are getting cut off without this */
  line-height: 2;
}

a {
  color: var(--link-blue);
}

a:focus {
  outline: 1px dotted var(--link-blue);
}

pre {
  display: block;
  background: var(--button-highlight);
  box-shadow: var(--border-field);
  padding: 12px 8px;
  margin: 0;
}

code, code * {
  font-family: var(--font-family-sys);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background-color: var(--surface);
}

::-webkit-scrollbar-track {
  background-image: url("./assets/img/ui/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
  background-color: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

::-webkit-scrollbar-button:horizontal:start:decrement, ::-webkit-scrollbar-button:horizontal:end:increment, ::-webkit-scrollbar-button:vertical:start:decrement, ::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("./assets/img/ui/button-up.svg");
}

::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("./assets/img/ui/button-down.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("./assets/img/ui/button-left.svg");
}

::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("./assets/img/ui/button-right.svg");
}